<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <p-toast key="tst"></p-toast>  <!-- Show message -->

        <a (click)="router.navigate(['/'], {fragment: 'home'})" class="flex align-items-center cursor-pointer">
            <img src="assets/img/logos/{{layoutService.config().colorScheme === 'light' ? 'lightoil-logo-black' : 'lightoil-logo-white'}}.png" 
                alt="lightoil-logo" height="70" class="mb-5"/>
        </a>

        <div class="w-25rem xl:w-30rem lg:w-30rem md:w-30rem" 
            style="border-radius:46px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div *ngIf="!hideFirstBlock" class="card w-full p-5" style="border-radius:43px">
                <div class="text-center mt-2 mb-4">
                    <p class="text-800 text-secondary text-xl">
                        <span class="block font-medium text-dark text-3xl mb-1">
                            Mot de passe oublié ?
                        </span>
                        <i>Réinitialiser le afin de pouvoir vous connecter à nouveau.</i>
                    </p>
                </div>

                <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordFormSubmit()">
                    <div class="flex flex-column gap-2 mb-3">
                        <label for="password" class="block text-900 font-medium text-lg mt-2">Nouveau mot de passe :</label>
                        <p-password formControlName="password" id="password" placeholder="Nouveau mot de passe" minlength="8" maxlength="30" 
                            [toggleMask]="true" styleClass="w-full" inputStyleClass="w-full" aria-describedby="password-help" autofocus />
                        <ng-container *ngIf="resetPasswordForm.get('password').invalid && (resetPasswordForm.get('password').dirty || resetPasswordForm.get('password').touched)">
                            <small id="password-help" class="p-error" *ngIf="resetPasswordForm.get('password').errors?.required">
                                Le mot de passe est requis.
                            </small>
                            <small id="password-help" class="p-error" *ngIf="resetPasswordForm.get('password').errors?.minlength || resetPasswordForm.get('password').errors?.maxlength">
                                Le mot de passe doit avoir au moins 8 caractères.
                            </small>
                        </ng-container>
                    </div>
                    
                    <div class="flex flex-column gap-2 mb-4">
                        <label for="password_confirmation" class="block text-900 font-medium text-lg mt-2">Confirmer le mot de passe :</label>
                        <p-password formControlName="password_confirmation" id="password_confirmation" placeholder="Confirmer le mot de passe" minlength="8" maxlength="30" 
                            [toggleMask]="true" styleClass="w-full" inputStyleClass="w-full" aria-describedby="password_confirmation-help" />
                        <ng-container *ngIf="resetPasswordForm.get('password_confirmation').invalid && (resetPasswordForm.get('password_confirmation').dirty || 
                            resetPasswordForm.get('password_confirmation').touched)">
                            <small id="password_confirmation-help" class="p-error" *ngIf="resetPasswordForm.get('password_confirmation').errors?.required">
                                Confirmer le mot de passe.
                            </small>
                            <small id="password-help" class="p-error" *ngIf="resetPasswordForm.get('password_confirmation').errors?.minlength || 
                                resetPasswordForm.get('password_confirmation').errors?.maxlength">
                                Le mot de passe de confirmation ne correspond pas.
                            </small>
                        </ng-container>
                    </div>
                    
                    <div class="flex flex-column justify-content-center mb-3">
                        <p-button type="submit" label="Réinitialiser" 
                            styleClass="w-full align-content-center font-bold text-xl mt-3" 
                            [raised]="true" 
                            severity="primary" 
                            [loading]="loading" 
                            loadingIcon="pi pi-refresh" iconPos="right" />
                    </div>
                </form>
            </div>

            <div *ngIf="!hideSecondBlock" class="card w-full p-5" style="border-radius:43px">
                <div class="text-center mt-2 mb-4">
                    <div class="flex justify-content-center mb-5">
                        <p-avatar icon="pi pi-check" size="xlarge" shape="circle" 
                            [style]="{ 'background-color': 'black', color: 'white' }" />
                    </div>
                    
                    <p class="font-semibold text-dark text-2xl">
                        Votre mot de passe a été réinitialisé avec succès.
                        <i class="block font-medium text-dark text-xl mt-1">Connectez-vous pour continuer.</i>
                    </p>
                </div>
                
                <div class="flex flex-column justify-content-center mb-3">
                    <p-button type="button" label="Se connecter" 
                        routerLink="/auth/login" 
                        styleClass="w-full align-content-center font-bold text-xl mt-3" 
                        [raised]="true" 
                        severity="primary" 
                        loadingIcon="pi pi-refresh" iconPos="right" />
                </div>
            </div>
        </div>
    </div>
</div>
