<div class="row ">
    <span class="lo-card-title" >
        Historiques des donnees de la cuve {{tank?.sensor_reference+'-'+tank?.product_service_station?.product?.name}}
    </span> 
</div>
<div class="row mt-1">
    <p-table [value]="listRecord"
        [scrollable]="true"
        styleClass="p-datatable-striped"
        scrollHeight="30rem"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{first} à {last} sur {totalRecords} entrées"
        [rowsPerPageOptions]="[50, 100, 200]"
        [paginator]="true" [rows]="50"
        >
        <ng-template pTemplate="caption">
            <div class="flex">
                {{period}}
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>#</th>
                <th>Relevé à</th>
                <th pTooltip="en centimetres">Hauteur carburant(cm)</th>
                <th pTooltip="en litres">Volume carburant à T</th>
                <th pTooltip="en litres">Volume à 15C</th>
                <th>Hauteur d'eau(cm)</th>
                <th pTooltip="en litres">Volume d'eau(l)</th>
                <th pTooltip="en degres celsius">T(C) liquide</th>
                <th pTooltip="rapport des masses volumiques">Densité</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-record let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr>
                <td>{{rowIndex+1}}</td>
                <td>{{getToLocalDateTime(record.updated_at)}}</td>
                <td pTooltip="en centimetres" tooltipPosition="bottom">{{getRoundValue(record.liquid_height)}}</td>
                <td pTooltip="en litres" tooltipPosition="bottom">{{getFuelVolumeValue(record)}}</td>
                <td pTooltip="en litres" tooltipPosition="bottom">{{getFuelVolumeAtFiftValue(record)}}</td>
                <td>{{getWaterLevelValue(record)}}</td>
                <td>{{getWaterVolumeValue(record)}}</td>
                <td pTooltip="en degres celsius" tooltipPosition="bottom">{{getRoundValue(record.liquid_temperature)}}</td>
                <td pTooltip="rapport des masses volumiques" tooltipPosition="bottom">{{getRoundValue(record.density)}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
