<ng-container *ngIf="flowMeterDetailsData; else elseTemplate">
    <div class="row my-1 justify-content-center" #targetEl>
        <p-toast></p-toast>
        <div class="col-5 col-sm-5 col-xl-4 card m-0 mb-2 d-flex flex-column justify-content-between">
            <div class="row ">
                <div class="col-1" (click)="backToDashboard()">
                    <i class="pi pi-arrow-left" pTooltip="Retour au dashboard"></i>
                </div>
                <div class="col-1 ">
                    <ng-container *ngIf="getOnlineStatuSensor(); else elseTemplate">
                        <div class="spinner-grow text-success" role="status" pTooltip="Jauge active">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <div class="spinner-grow text-secondary" role="status" pTooltip="Jauge inactive">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </ng-template>
                </div>
                <div class="col text-center ">
                    <span class="h5">
                        {{'Debimetre '+getSensorReference()+'- '+getNameProduct()}}
                    </span>
                </div>
                <div class="col text-end">
                    <span>{{d}}</span>
                </div>
            </div>

            <div class="row d-flex flex-row justify-content-center mb-3">
                <div class="col text-center anim-fade">
                    <img width="300vw" src="{{getTheCorrectImage()}}"
                        alt="une vue actuelle du debimetre"
                        pTooltip="Etat actuel du debimetre">
                </div>
            </div>
        </div>
        
        <div class="col-6 col-sm-5 col-xl-5  m-0 mb-2 d-flex flex-column justify-content-between">
            <div class="row justify-content-center">
                <div class="col-10 offset-1 card d-flex flex-row justify-content-between anim-fade">
                    <span class=""> Unite de mesure du debit instantanee: </span>
                    <span>
                        <p-badge [value]="getUnitMeasurement()" size="large" severity="info">
                        </p-badge>
                    </span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 offset-1 card d-flex flex-row justify-content-between anim-fade">
                    <span class=""> Debit instantanee: </span>
                    <span>
                        <p-badge value="{{getInstantFlow()}}" size="large" severity="info">
                        </p-badge>
                    </span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 offset-1 card d-flex flex-row justify-content-between anim-fade">
                    <span class="" pTooltip="En metre cube par seconde"> Debit cumulatif: </span>
                    <span>
                        <p-badge value="{{getCumulativeFlow()}}" size="large" severity="info">
                        </p-badge>
                    </span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 offset-1 card d-flex flex-row justify-content-between anim-fade">
                    <span class=""> Dernier volume transitant(litres): </span>
                    <span>
                        <p-badge value="{{volume}}" size="large" severity="info">
                        </p-badge>
                    </span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 offset-1 card anim-fade text-center">
                    <span class="text-center" pTooltip="Date et heure dernière donnée" tooltipPosition="bottom"> 
                        {{getLastIncomeDateRecordFlow()}}
                    </span>
                </div>
            </div>
        </div>
        
        
        <span></span>
    </div>
    <div class="row my-4 justify-content-center">
        <div class="col-11 col-sm-10 col-xl-9 card m-0 mb-2 d-flex flex-column justify-content-between">
            <div class="row p-1 pb-0">
                <div class="col ">
                    <p-button (click)="op.toggle($event, targetEl)" 
                        label="Afficher tout" 
                        [text]="true" 
                        [raised]="true" 
                        severity="info">
                    </p-button>
                </div>
                <div class="col d-flex flex-row justify-content-end ">
                    <p-button (click)="og.toggle($event, targetEl)" 
                        label="Graphe" 
                        [text]="true" 
                        [raised]="true" 
                        severity="info">
                    </p-button>
                </div>
            </div>
            <div class="row p-0 ">
                <p-table
                    [value]="records"
                    [scrollable]="true"
                    scrollHeight="370px"
                    styleClass="p-datatable-striped"
                    [tableStyle]="{'min-width': '30rem'}">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>#</th>
                            <th>Relevé à</th>
                            <th pTooltip="en litres par seconde" tooltipPosition="bottom">Débit instantanée</th>
                            <th pTooltip="en metres cube par seconde" tooltipPosition="bottom">Débit cumulatif</th>
                            <th pTooltip="unite de mesure" tooltipPosition="bottom">Unité de mesure</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-record let-columns="columns" let-rowIndex="rowIndex">
                        <tr>
                            <td>{{rowIndex+1}}</td>
                            <td>{{getToLocalDateTime(record.hourFlowSensor)}}</td>
                            <td pTooltip="{{record.unit_measurement_flow}}" tooltipPosition="bottom">
                                {{getRoundValue(record.instant_flow)}}
                            </td>
                            <td pTooltip="En metre cube par seconde" tooltipPosition="bottom">
                                {{getRoundValue(record.cumulative_flow)}}
                            </td>
                            <td pTooltip="{{record.unit_measurement_flow}}" tooltipPosition="bottom">
                                {{record.unit_measurement_flow}}
                            </td>

                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <span></span>
    </div>

    <!-- affficher tout -->
    <p-overlayPanel #op [style]="{'width': '98%','height': '92%'}" [showCloseIcon]="true">
        <ng-template pTemplate="content">
            <div class="row justify-content-evenly">
                <div class="col text-center h4">
                    Historiques des donnees de la journee
                </div>
                <div class="col text-center">
                    <button class="border-none" (click)="generateFlowMeterDataDetailsPdf()">
                        <i class="pi pi-fw pi-file-pdf"
                            pTooltip="Exporter au format pdf" tooltipPosition="bottom"
                            style="font-size: 3rem; color: red;">
                        </i>
                    </button>
                </div>
            </div>
            <div class="row mt-8">
                <p-table [value]="records"
                    [scrollable]="true"
                    styleClass="p-datatable-striped"
                    scrollHeight="60rem"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[15, 50, 100]"
                    (onRowSelect)="onRowSelect($event, op)"
                    [paginator]="true" [rows]="15"
                    >
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>#</th>
                            <th>Relevé à</th>
                            <th pTooltip="en litres par seconde" tooltipPosition="bottom">Débit instantanée</th>
                            <th pTooltip="en metres cube par seconde" tooltipPosition="bottom">Débit cumulatif</th>
                            <th pTooltip="unite de mesure" tooltipPosition="bottom">Unité de mesure</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-record let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr>
                            <td>{{rowIndex+1}}</td>
                            <td>{{getToLocalDateTime(record.hourFlowSensor)}}</td>
                            <td pTooltip="{{record.unit_measurement_flow}}" tooltipPosition="bottom">
                                {{getRoundValue(record.instant_flow)}}
                            </td>
                            <td pTooltip="En metre cube par seconde" tooltipPosition="bottom">
                                {{getRoundValue(record.cumulative_flow)}}
                            </td>
                            <td pTooltip="{{record.unit_measurement_flow}}" tooltipPosition="bottom">
                                {{record.unit_measurement_flow}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-template>
    </p-overlayPanel>

    <!-- graphe -->
    <p-overlayPanel #og [style]="{'width': '98%','height': '92%'}"  [showCloseIcon]="true">
        <ng-template pTemplate="content" >
            <div class="flex flex-column justify-content-center align-content-center ">
                <div class="row ">
                    <span class="text-center h4">
                        Graphe d'evolution des debits de la journee
                    </span>
                </div>
                <div class="row mt-8">
                    <p-chart #line type="line" [data]="data" [options]="options"></p-chart>
                </div>
                <div class="row mt-1">
                    <div class="col text-center">
                        <button class="border-none" (click)="generateFlowMeterDataDetailsImage()">
                            <i class="pi pi-fw pi-image"
                                pTooltip="Exporter l'image" tooltipPosition="bottom"
                                style="font-size: 3rem; color: rgb(0, 255, 4);">
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-overlayPanel>

    <!-- Chatbot -->
    <app-chatbot></app-chatbot>
</ng-container>
<ng-template #elseTemplate>
    <div class="d-flex flex-row justify-content-center align-content-center" style="margin-top: 20%;">
        <img width="150rem" src="../../../../../assets/layout/images/logo.gif" alt="Loading" >
    </div>
</ng-template>