<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <a [routerLink]="['/']" class="flex align-items-center cursor-pointer">
            <img src="assets/img/logos/{{layoutService.config().colorScheme === 'light' ? 'lightgroup-logo-black' : 'lightgroup-logo-white'}}.png"
                alt="lightgroup-logo" height="70" class="mb-5" />
        </a>

        <div class="w-25rem xl:w-30rem lg:w-30rem md:w-30rem"
            style="border-radius:46px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="card w-full p-5" style="border-radius:43px">
                <div class="text-center mt-2 mb-4">
                    <div class="flex justify-content-center mb-4">
                        <div class="flex justify-content-center align-items-center border-circle text-white"
                            style="width:3.2rem; height:3.2rem; background-color: var(--primary-color);">
                            <i class="pi pi-fw pi-lock text-2xl"></i>
                        </div>
                    </div>

                    <p class="text-800 text-secondary text-xl mb-0">
                        <span class="block font-medium text-dark text-3xl mb-2">
                            Access Denied
                        </span>
                        <i>You do not have the necessary permissions. Please contact an administrator.</i>
                    </p>
                </div>

                <div class="flex flex-column justify-content-center mb-2">
                    <p-button label="Go to Dashboard" icon="pi pi-arrow-left" iconPos="left"
                        styleClass="w-full align-content-center font-bold text-lg" [outlined]="true" routerLink="/">
                    </p-button>
                </div>
            </div>
        </div>
    </div>
</div>
