
<div *ngIf="listRecord && listRecord?.volume?.length > 0">
    <div class="row">
        <span class="lo-card-title" >
            Graphe des donnees de la cuve {{sensorReference.sensor_reference+'-'+sensorReference.liquid_type}}
        </span>
    </div>
    <div class="card">
        <p-chart #graph1 type="line" [data]="data" [options]="options"></p-chart>
    </div>
</div>
<div *ngIf="listRecord && listRecord?.level?.length <= 0">
    <div class="row justify-content-center">
        <span class="col text-center">
            Aucune donnée disponible dans la période sélectionnée
        </span>
    </div>
</div>

