<div class="grid">
    <div class="col-12 xl:col-2 lg:col-6 md:col-6">
        <div class="lo-kpi">
            <span class="lo-kpi-icon product">
                <img src="assets/img/gas-station/gas-station.png" alt="Points de vente">
            </span>
            <div class="lo-kpi-body">
                <span class="lo-kpi-label">Nbre. de {{ sale_point_type ?? '...' }}</span>
                <div *ngIf="number_of_sale_points; else elseCountTemplate" class="lo-kpi-value">
                    {{ number_of_sale_points | number:'1.0-0':'fr' }}
                </div>
                <ng-template #elseCountTemplate>
                    <div class="lo-kpi-value"><i class="pi pi-spin pi-spinner"></i></div>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="col-12 xl:col-2 lg:col-6 md:col-6">
        <div class="lo-kpi">
            <span class="lo-kpi-icon product">
                <img src="assets/img/oil-tank.png" alt="Cuves connectées">
            </span>
            <div class="lo-kpi-body">
                <span class="lo-kpi-label">Cuves connectées</span>
                <div *ngIf="number_of_connected_tanks; else elseTankTemplate" class="lo-kpi-value">
                    {{ number_of_connected_tanks | number:'1.0-0':'fr' }}
                </div>
                <ng-template #elseTankTemplate>
                    <div class="lo-kpi-value"><i class="pi pi-spin pi-spinner"></i></div>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="col-12 xl:col-4 lg:col-6 md:col-6">
        <div class="lo-card">
            <h3 class="lo-card-title">
                Dépotage, semaine du {{ start_of_week ?? '...' }} au {{ end_of_week ?? '...' }}
            </h3>
            <ng-container *ngIf="dumping_per_product !== undefined && dumping_per_product.length > 0; else elseTemplate">
                <div class="lo-spec">
                    <ng-container *ngFor="let product of dumping_per_product">
                        <div *ngIf="product.name == 'Super'" class="lo-spec-row">
                            <span class="lo-spec-label product" style="color: #014da4;">Super</span>
                            <span class="lo-spec-value">{{ (product.deposited_volume | number:'1.2-2':'fr') ?? '...' }} L</span>
                        </div>
                        <div *ngIf="product.name == 'Gasoil'" class="lo-spec-row">
                            <span class="lo-spec-label product" style="color: #b98a00;">Gasoil</span>
                            <span class="lo-spec-value">{{ (product.deposited_volume | number:'1.2-2':'fr') ?? '...' }} L</span>
                        </div>
                        <div *ngIf="product.name == 'Pétrole' || product.name == 'Petrole'" class="lo-spec-row">
                            <span class="lo-spec-label product" style="color: #007138;">Pétrole</span>
                            <span class="lo-spec-value">{{ (product.deposited_volume | number:'1.2-2':'fr') ?? '...' }} L</span>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <div class="lo-state compact">
                    <p-progressSpinner strokeWidth="4" [style]="{ width: '2.25rem', height: '2.25rem' }"></p-progressSpinner>
                    <p>Chargement des dépotages…</p>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="col-12 xl:col-4 lg:col-6 md:col-6">
        <div class="lo-card">
            <h3 class="lo-card-title">Volume par produit au {{ product_stock_date ?? '...' }}</h3>
            <ng-container *ngIf="stock_per_product != undefined && stock_per_product.length > 0; else elseStockTemplate">
                <div class="lo-spec">
                    <ng-container *ngFor="let product of stock_per_product">
                        <div *ngIf="product.name == 'Super'" class="lo-spec-row">
                            <span class="lo-spec-label product" style="color: #014da4;">Super</span>
                            <ng-container
                                *ngIf="(product.volume != undefined && product.tank_volume != undefined) && (product.volume != 0 && product.tank_volume != 0); else noVolume">
                                <span class="lo-spec-value">
                                    {{ product.volume | number:'1.2-2':'fr' }} L /
                                    {{ product.tank_volume | number:'1.0-0':'fr' }} L
                                </span>
                            </ng-container>
                        </div>
                        <div *ngIf="product.name == 'Gasoil'" class="lo-spec-row">
                            <span class="lo-spec-label product" style="color: #b98a00;">Gasoil</span>
                            <ng-container
                                *ngIf="(product.volume != undefined && product.tank_volume != undefined) && (product.volume != 0 && product.tank_volume != 0); else noVolume">
                                <span class="lo-spec-value">
                                    {{ product.volume | number:'1.2-2':'fr' }} L /
                                    {{ product.tank_volume | number:'1.0-0':'fr' }} L
                                </span>
                            </ng-container>
                        </div>
                        <div *ngIf="product.name == 'Pétrole' || product.name == 'Petrole'" class="lo-spec-row">
                            <span class="lo-spec-label product" style="color: #007138;">Pétrole</span>
                            <ng-container
                                *ngIf="(product.volume != undefined && product.tank_volume != undefined) && (product.volume != 0 && product.tank_volume != 0); else noVolume">
                                <span class="lo-spec-value">
                                    {{ product.volume | number:'1.2-2':'fr' }} L /
                                    {{ product.tank_volume | number:'1.0-0':'fr' }} L
                                </span>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-template #noVolume>
                        <span class="lo-spec-value">... L / ... L</span>
                    </ng-template>
                </div>
            </ng-container>
            <ng-template #elseStockTemplate>
                <div class="lo-state compact">
                    <p-progressSpinner strokeWidth="4" [style]="{ width: '2.25rem', height: '2.25rem' }"></p-progressSpinner>
                    <p>Chargement des stocks…</p>
                </div>
            </ng-template>
        </div>
    </div>
</div>
