<div class="grid">
    <div class="col-12 xl:col-5 lg:col-5">
        <div class="lo-card table-card">
            <h3 class="lo-card-title">Stock de produits par point de vente au {{ product_stock_date ?? '...' }}</h3>
            <ng-container
                *ngIf="stock_per_tank_of_sale_points !== undefined && stock_per_tank_of_sale_points.length > 0; else elseTemplate">
                <div class="lo-table-scroll">
                    <table class="lo-admin-table">
                        <thead>
                            <tr>
                                <th scope="col">Points de vente</th>
                                <th scope="col">Produits</th>
                                <th scope="col">Volumes</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let sale_point of stock_per_tank_of_sale_points">
                            <tr>
                                <td>
                                    <b>{{ sale_point.name }}</b><br><i>{{ sale_point.town }}</i>
                                </td>
                                <td>
                                    <table *ngFor="let tank of sale_point?.tanks" class="lo-admin-nested">
                                        <tr>
                                            <td [ngStyle]="{'color': getProductColor(tank?.product?.name)}">
                                                <strong>{{ tank?.product?.name }} :</strong>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table *ngFor="let tank of sale_point?.tanks" class="lo-admin-nested">
                                        <tr>
                                            <ng-container
                                                *ngIf="(tank?.product?.volume != undefined && tank?.volume != undefined) && (tank?.product?.volume != 0 && tank?.volume != 0); else noVolume">
                                                <td class="font-medium">
                                                    {{ tank?.product?.volume | number:'1.2-2':'fr' }} <span class="font-semibold">L / </span>
                                                    {{ tank?.volume | number:'1.0-0':'fr' }} <span class="font-semibold">L</span>
                                                </td>
                                            </ng-container>
                                            <ng-template #noVolume>
                                                <td class="font-medium">... L / ... L</td>
                                            </ng-template>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <div class="lo-state compact">
                    <p-progressSpinner strokeWidth="4" [style]="{ width: '2.25rem', height: '2.25rem' }"></p-progressSpinner>
                    <p>Chargement des stocks par point de vente…</p>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="col-12 xl:col-7 lg:col-7">
        <div class="lo-card lo-map-card" id="leaflet-map" #mapContainer>
            <button type="button" class="lo-icon-action map-fullscreen" pTooltip="Basculer en plein écran"
                tooltipPosition="left" (click)="toggleFullScreen()">
                <i [ngClass]="isFullScreen ? 'pi pi-window-minimize' : 'pi pi-window-maximize'"></i>
            </button>
            <div leaflet [leafletOptions]="options" [leafletBaseLayers]="baseLayers"
                [leafletLayersControlOptions]="layersControlOptions">
                <div *ngFor="let layer of layers" [leafletLayer]="layer"></div>
            </div>
        </div>
    </div>
</div>
