<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <p-toast key="tst"></p-toast>  <!-- Show message -->

        <a (click)="router.navigate(['/'], {fragment: 'home'})" class="flex align-items-center cursor-pointer">
            <img src="assets/img/logos/{{layoutService.config().colorScheme === 'light' ? 'lightoil-logo-black' : 'lightoil-logo-white'}}.png" 
                alt="lightoil-logo" height="70" class="mb-5"/>
        </a>

        <div class="w-25rem xl:w-30rem lg:w-30rem md:w-30rem" 
            style="border-radius:46px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div *ngIf="!hideFirstBlock" class="card w-full p-5" style="border-radius:43px">
                <div class="text-center mt-2 mb-5">
                    <p class="text-800 text-secondary text-xl">
                        <span class="block font-medium text-dark text-3xl mb-1">
                            Mot de passe oublié ?
                        </span>
                        <i>Envoyer votre adresse e-mail pour le réinitialiser.</i>
                    </p>
                </div>
                
                <form [formGroup]="sendEmailForm" (ngSubmit)="onSendEmailFormSubmit()">
                    <div class="flex flex-column gap-2 mb-3">
                        <label for="email" class="block text-900 text-lg font-medium">Email :</label>
                        <input type="email" formControlName="email" id="email" placeholder="Adresse e-mail" pattern=".+@.+\..+" autofocus
                            pInputText aria-describedby="email-help" class="w-full" />
                        <ng-container *ngIf="sendEmailForm.get('email').invalid && (sendEmailForm.get('email').dirty || sendEmailForm.get('email').touched)">
                            <small id="email-help" class="p-error" *ngIf="sendEmailForm.get('email').errors?.required">
                                Entrer votre adresse e-mail pour réinitialiser votre mot de passe.
                            </small>
                            <small id="email-help" class="p-error" *ngIf="sendEmailForm.get('email').errors?.pattern">
                                Entrer une adresse e-mail valide.
                            </small>
                        </ng-container>
                    </div>
                    
                    <div class="flex flex-column justify-content-center mb-3">
                        <p-button type="submit" label="Envoyer mon e-mail" 
                            styleClass="w-full align-content-center font-bold text-xl mt-3" 
                            [raised]="true" 
                            severity="primary" 
                            [loading]="loading" 
                            loadingIcon="pi pi-refresh" iconPos="right" />
                    </div>
                </form>
            </div>
            
            <div *ngIf="!hideSecondBlock" class="card w-full p-5" style="border-radius:43px">
                <div class="text-center mt-2 mb-3">
                    <div class="flex justify-content-center mb-5">
                        <p-avatar icon="pi pi-check" size="xlarge" shape="circle" 
                            [style]="{ 'background-color': 'black', color: 'white' }" />
                    </div>
                    
                    <p class="font-semibold text-dark text-2xl">
                        Vérifier votre boite mail.
                        <i class="block font-medium text-dark text-xl mt-3">
                            Un mail vous a été envoyé pour la réinitialisation de votre mot de passe.
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
