/* General */
$scale: 15px;                    /* main font size */
$borderRadius: 14px;             /* border radius of layout elements */
$transitionDuration: .25s;       /* transition duration of layout elements */
