<ng-container *ngIf="model.length <= 0; else menuLoadedTemplate">
    <div class="menu-loading-shell">
        <i class="pi pi-spin pi-spinner"></i>
    </div>
</ng-container>

<ng-template #menuLoadedTemplate>
    <ul class="layout-menu">
        <ng-container *ngFor="let item of model; let i = index;">
            <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
            <li *ngIf="item.separator" class="menu-separator"></li>
        </ng-container>
        <li class="menu-branding">
            <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'lightoil-brand-black' : 'lightoil-brand-white'}}.png"
                alt="LightOil" class="w-full rounded" />
            <small>Fuel operations platform</small>
        </li>
    </ul>
</ng-template>
