<div class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar></app-topbar>
    <div class="layout-sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="layout-main-container fuel-layout-main"
        [ngStyle]="back_image ? {'background-image': 'linear-gradient(180deg, rgba(9, 19, 38, 0.88), rgba(9, 19, 38, 0.65)), url(' + back_image + ')'} : null">
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>

    <app-config></app-config>
    <div class="layout-mask"></div>
</div>
