<div class="row ">
    <span class="lo-card-title" >
        Historiques des donnees du debimetre {{flowMeter?.sensor_reference+'-'+flowMeter?.product_service_station?.product?.name}}
    </span> 
</div>
<div class="row mt-1">
    <p-table [value]="listRecord"
        [scrollable]="true"
        styleClass="p-datatable-striped"
        scrollHeight="30rem"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{first} à {last} sur {totalRecords} entrées"
        [rowsPerPageOptions]="[50, 100, 200]"
        [paginator]="true" [rows]="50"
        >
        <ng-template pTemplate="caption">
            <div class="flex">
                {{period}}
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>#</th>
                <th>Relevé à</th>
                <th pTooltip="en litres/seconde">Debit(litres/seconde)</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-record let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr>
                <td>{{rowIndex+1}}</td>
                <td>{{getToLocalDateTime(record.updated_at)}}</td>
                <td pTooltip="en litres/seconde" tooltipPosition="bottom">{{getRoundValue(record?.speed)}}</td>
                
            </tr>
        </ng-template>
    </p-table>
</div>
