.chat-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 500px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-messages {
    padding: 5px;
}

.message-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.bot-message {
    justify-content: flex-start;
}

.user-message {
    justify-content: flex-end;
}

.message-avatar {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.avatar {
    font-size: 1.8rem;
    color: #6c757d;
}

.message-content {
    max-width: 70%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.bot-message .message-content {
    background: #e3f2fd;
    text-align: left;
}

.user-message .message-content {
    background: #cce5ff;
    text-align: right;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.interactive-button {
    border-radius: 20px;
    padding: 0px;
}
